@import 'modal.css';

:root{
    --text-white: #fff;
    --text-error: #faa;
    --text-light-gray: #c9c9c9;
    --text-grey: #8F8F8F;

    --bg-black: #000;
    --bg-orange: #ff8400;
    --bg-grey: #333;
    --bg-btn-disable: #ddd;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: var(--bg-black);
}

.nav-container {
    height: 80px;
    background-color: var(--bg-orange);
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.nav-main {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-main h1 {
    color: var(--text-white);
    font-size: 36px;
}

.contact-link {
    color: var(--text-white);
    cursor: pointer;
}

.form-container {
    width: 100%;
    padding: 40px 20px;
}

.card-form {
    background-color: var(--bg-grey);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: none;
}

.error-message {
    margin-top: 5px;
    color: var(--text-error);
}

.form-input {
    height: 50px;
    width: 100%;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 14px;
    border: none;
}

.form-input::placeholder {
    color: var(text-light-gray);
}

.form-input:disabled {
    background-color: var(--bg-btn-disable);
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 250px;
    height: 50px;
    background-color: var(--bg-orange);
    border: 0;
    border-radius: 4px;
    color: var(--text-white);
    font-weight: 700;
    font-size: 14px;
}

.btn-left {
    margin-right: 10px;
}

.btn-right {
    margin-left: 10px;
}

.list-container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-list-item {
    background-color: var(--bg-grey);
    margin-bottom: 20px;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
    padding: 20px;
}

.card-list-item h3 {
    color: var(--bg-orange);
    font-size: 18px;
}

.address-line {
    color: var(--text-white);
    font-size: 14px;
}

.address-cep {
    color: var(--text-grey);
    font-size: 12px;
}